.label-card {
    margin-top: 20px;
    max-width: 400px;
    
     
}

.scrollable-content {
    max-height: 200px;
    overflow-y: auto;
}

.text-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-title {
    font-size: medium;
}