
.cam-card {
  margin-top: 20px;
  float: left;
  margin-left: 20px;
  max-width: 300px;
}

.cam-card-test {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.cam-card-content {
  text-align: center;
  border-style: solid;
  border-radius: 5%;
  border-color: gainsboro;

}

.card-title {
    font-size: medium;
}