<div mat-dialog-content>
  <p>Username</p>
  <mat-form-field>
    <input matInput cdkFocusInitial [(ngModel)]="data.username">
  </mat-form-field>
  <p>Password</p>
  <mat-form-field>
    <input type="password" matInput [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" (keyup.enter)="close($event)" cdkFocusInitial>{{'model.confirm.ok' | translate }}</button>
  <button mat-button [mat-dialog-close]="null">{{ 'model.confirm.cancel' | translate }}</button>
</div>